/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav {
  height: 6vh;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.slide-viewer{
  overflow-y: scroll;
  white-space: nowrap;
}
.slide-viewer-slide{
    height:100px;
    margin-left: 10px;
    display: inline-block;
}
.slide-viewer-slide:first-child{
  margin-left: 0px;
}

.container{
  width: 95vw;
  height: 94vh;
}
